{% extends 'base.html' %}
{% block title %}
    Contact Page
{% endblock %}
{% block contact %}

<h3 class="skills-title">Contact</h3>
<div class="row">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <a id="address" class="fa fa-globe"></a>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <a id="mail" class="fa fa-envelope-o"></a>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <a id="soc" class="fa fa-group"></a>
    <h3 id="cont-cont">Varna, Bulgaria 9000</h3>

    <h3 id="cont-cont">gencho.angelov@gmail.com</h3>
    <div><a id="cont-cont-icon" href="https://www.linkedin.com/in/gencho-angelov-035811255/" class="fa fa-linkedin-square"  data-fa-transform="left-10" ></a><br>
        <a id="cont-cont-icon" href="https://github.com/genchoangelov" class="fa fa-github"  data-fa-transform="rigth-10" ></a></div>

</div>
{% endblock %}