
<ul class="topnav">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <li><a href="{{ url_for('home_page') }}">Home</a></li>
  <li><a href="{{ url_for('my_portfolio_page') }}">Portfolio</a></li>
  <li><a href="{{ url_for('my_resume_page') }}">Resume</a></li>
  <li><a href="{{ url_for('contact_page') }}">Contact</a></li>
  <li><a href="https://www.linkedin.com/in/gencho-angelov-035811255/" id="icons"><span class="fa fa-linkedin-square"></span></a></li>
  <li><a href="https://github.com/genchoangelov"  id="icons"><span class="fa fa-github"></span></a></li>
</ul>


